{% extends 'base.html.twig' %}

{% block title %}IncomeEntity index{% endblock %}

{% block body %}
    <h1>IncomeEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for income_entity in income_entities %}
            <tr>
                <td>{{ income_entity.id }}</td>
                <td>{{ income_entity.name }}</td>
                <td>{{ income_entity.amount }}</td>
                <td>{{ income_entity.type }}</td>
                <td>{{ income_entity.date ? income_entity.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_income_entity_show', {'id': income_entity.id}) }}">show</a>
                    <a href="{{ path('app_income_entity_edit', {'id': income_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_income_entity_new') }}">Create new</a>
{% endblock %}
