{% extends 'base.html.twig' %}

{% block title %}Import CSV{% endblock %}

{% block body %}
    <h1>Importez vos données</h1>

    {{ form_start(form) }}
    {{ form_row(form.csv_file) }}
    <button type="submit" class="btn btn-primary">Importer</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
