<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class=" min-h-screen">
<header class="bg-white shadow p-4">
    <div class="container mx-auto">
        {% if app.user %}
            <p class="text-gray-700">
                Vous êtes connecté en tant que <span class="font-semibold">{{ app.user.email }}</span> |
                <a href="{{ path('app_logout') }}" class="text-blue-600 hover:underline">Déconnexion</a>
            </p>
        {% else %}
            <p class="text-gray-700">
                <a href="{{ path('app_login') }}" class="text-blue-600 hover:underline">Connexion</a> |
                <a href="{{ path('app_register') }}" class="text-blue-600 hover:underline">Inscription</a>
            </p>
        {% endif %}
    </div>
</header>

<!-- Intégration du composant SmartphoneBlocker -->
<div {{ react_component('SmartphoneBlocker') }}></div>

<main class="container mx-auto p-4">
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
