{{ form_start(form) }}
{{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}

<div class="mb-4">
    {{ form_label(form.firstName, 'Prénom', {'class': 'block text-gray-700 font-medium'}) }}
    {{ form_widget(form.firstName, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300'}}) }}
    {{ form_errors(form.firstName) }}
</div>
<div class="mb-4">
    {{ form_label(form.lastName, 'Nom', {'class': 'block text-gray-700 font-medium'}) }}
    {{ form_widget(form.lastName, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300'}}) }}
    {{ form_errors(form.lastName) }}
</div>
<div class="mb-4">
    {{ form_label(form.wallet, 'Revenu', {'class': 'block text-gray-700 font-medium'}) }}
    {{ form_widget(form.wallet, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300'}}) }}
    {{ form_errors(form.wallet) }}
</div>

<div class="mb-4">
    {{ form_label(form.email, 'Email', {'class': 'block text-gray-700 font-medium'}) }}
    {{ form_widget(form.email, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300'}}) }}
    {{ form_errors(form.email) }}
</div>

<div class="mb-4">
    {{ form_label(form.plainPassword.first, 'Nouveau mot de passe', {'class': 'block text-gray-700 font-medium'}) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300'}}) }}
    {{ form_errors(form.plainPassword.first) }}
</div>

<div class="mb-4">
    {{ form_label(form.plainPassword.second, 'Confirmer le mot de passe', {'class': 'block text-gray-700 font-medium'}) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300'}}) }}
    {{ form_errors(form.plainPassword.second) }}
</div>


<button type="submit"
        class="w-full bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition">
    {{ button_label|default('Enregistrer') }}
</button>

{{ form_end(form) }}

{{ form_end(form) }}
