{% extends 'base.html.twig' %}

{% block title %}UserEntity index{% endblock %}

{% block body %}
    <h1>UserEntity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_entity in user_entities %}
            <tr>
                <td>{{ user_entity.id }}</td>
                <td>{{ user_entity.email }}</td>
                <td>{{ user_entity.roles ? user_entity.roles|json_encode : '' }}</td>
                <td>{{ user_entity.password }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user_entity.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user_entity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
